	<div class="container">
		<div class="page-head text-center">
			<h1>TwitterVis</h1>
			<h4>it's time to <span class="visualize">#visualize</span></h4>
		</div>
		<div class="row">	
			<div class="span6">
				<div class="title margin-top-large">
					<h3>Now visualizing: <span class="current-visualize">#<%= @hashtag %></span></h3>
				</div>
			</div>
			<div class="span6">
				<div class="hashtag-form">
					<h4 class="text-right">Search Twitter:</h4>
					<form class="form-inline pull-right" method="post" action="">
					  <div class="input-prepend input-append">
						  <span class="add-on">#</span>
						  <input class="input-small" id="prependedInput" type="text" name="hashtagLookup" placeholder="hashtag">
						  <button type="submit" class="btn btn-primary">Visualize!</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<div class="wrapper">
	<div class="container">
		
			<div class="row">
				<div class="span12">
					<div class="chart-wrapper">
						<h3 class="text-center">Tweets Per Second</h3>
						<div id="timeSeriesChart" class="chart">
							<div class="loading">
								<img class="loading" src="assets/chart-loading.gif" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="row margin-top">
				<div class="span6">
					<div class="chart-wrapper">
						<h4 class="text-center">By Location</h4>
						<div id="pieChart" class="chart">
							<div class="loading">
								<img class="loading" src="assets/chart-loading.gif" alt="">
							</div>
						</div>
					</div>				
				</div>
		
				<div class="span6">
					<div class="chart-wrapper">
						<h4 class="text-center">This Month</h4>
						<div id="barChart" class="chart">
							<div class="loading">
									<img class="loading" src="assets/chart-loading.gif" alt="">
								</div>
						</div>
					</div>
				</div>
			</div>
				
				
		</div>
	</div>
</div>