// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url("use_your_illusion.png");
	margin-bottom: 60px;
}

.page-head {
	// text-align: center;
	color: white;

	h1 {
		font-size: 90px;
		font-weight: bold;
		margin-top: 20px;
		line-height: 1em;
	}

	h2 {
		margin-left: 20px;
		margin-top: 0px;
		font-size: 22px;
		font-weight: 100;
	}

	.visualize {
		// color: 
	}
}

.margin-top {
	margin-top: 40px;
}

.title {
	margin-top: 35px;
	color: white;

	.current-visualize {
		color: rgb(32, 177, 19);
	}
}

.hashtag-form {
	margin-top: 30px;

	h4 {
		color: white;
	}

	form {
		margin-top: 5px;
	}
}

.chart-wrapper {
	// border: 1px solid rgb(199, 199, 199);
	border-radius: 10px;
	margin-top: 20px;
	padding: 15px;
	color: white;

	img {
		margin-top: 20px;
	}


}

#timeSeriesChart {
	height: 400px;
}

#barChart, #pieChart {
	padding: 0 40px;
	height: 300px;
}

.loading {
	text-align: center;
}

.chart {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: rgb(199, 199, 199);
  height: 210px;
  clear: both;

  path {
  	fill: none;
  }

  .axis path, .axis line {
	  fill: none;
	  stroke: rgb(199, 199, 199);
	  shape-rendering: crispEdges;
	}

	text {
		fill: white;
	}

	.brush .extent {
	  stroke: #fff;
	  fill-opacity: .125;
	  shape-rendering: crispEdges;
	}
}

.overlay {
    fill: none;
    pointer-events: all
}

